@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&family=Roboto:wght@400;700&display=swap');

h1 {
    font-size: 3.375rem;
    margin: 4%;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    line-height: normal;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

a {
    transition-duration: 0.3s;
}

.Row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
}

.Row img {
    display: inline-block;
    margin: 10px;
}

/* .Row-Half {
    width: 50% !important;
} */

/* Jumbotron */
.Jumbotron-Background {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 150%), url(../images/ben-dutton-JkyMs0Shfn0-unsplash.jpg);
    opacity: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #EE9E9B;
    border-bottom: 10px solid #EE9E9B;
}

.Jumbotron-Content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 1140px;
    padding-top: 165px;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 40px;
}

.HeaderIcon {
    width: 20px;
    height: 20px;
    padding: 5px;
    transition-duration: 0.3s;
}

.HeaderIcon:hover {
    transform:scale(.8);
}

.Jumbotron-Text {
    color: white;
    font: normal normal normal 18px/32px Roboto;
}

.Jumbotron-Text p {
    text-align: left;
}

/* Project1 */
.Project1-Header {
    width: 100vw;
    height: 300px;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #EE9E9B;
    border-bottom: 10px solid #EE9E9B;
}

.Project1-Content {
    border-bottom: 3px solid #B25D5C;
    color: white;
}

#Menu {
    background-color: #B25D5C;
}

/* Project Grid Css */
.grid-img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0px 10px 10px 0px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(50%, 50%));
	grid-auto-rows: 400px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

/* Footer */
.Footer {
    padding-left: 6%;
    padding-right: 6%;
    border-top: 3px solid #C2719F;
    color: white;
}

.FooterIcon {
    width: 20px;
    height: 20px;
    padding: 5px;
    transition-duration: 0.3s;
}

.FooterIcon:hover {
    fill: white;
    transform:scale(.8);
}

