.Jumbotron-Img {
    width: 100vw;
    height: 400px;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #EE9E9B;
    border-bottom: 10px solid #EE9E9B;
}

.contact {

}

.logo {
    width: 20px;
    height: 20px;
}

.column {
    
}